.head {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #2b72e8;
    color: #ffffff;
    text-align: center;
}

.bm-view {
    width: 100%;
    height: 780px;
}

.sample {
    width: 120px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: 0 0 5px #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
}

.sample.active {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.persons div {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: aquamarine;
    border-bottom: 1px solid #eee;
}

.selected {
    background-color: cadetblue;
}

.personDiv {
    width: 10%;
    display: inline-block;
    position: absolute;
}

.cententDiv {
    width: 80%;
    display: inline-block;
    position: absolute;
    left: 10%;
}

.rightDiv{
    width: 10%;
    display: inline-block;
    position: absolute;
    right: 0%;
}

.Calendar {
    width: 290px;
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    z-index: 10;
    background: #fff;
    top: 27px;
    left: 40px;
}

.busy {
    background-color: red;
}

.fee {
    background-color: green;
}

.point {
    width: 100%;
    height: 25px;
}

.point tr td {
    border: 1px solid #eee;
}